@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* main design start */
ul{
    list-style-type: none;
    padding: 6px 2px;
    display: flex;
    gap: 20px;
}
.nav-links{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}
#nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    margin: 2px 520px;
    border-radius: 6px;
    padding: 8px;
    background: rgba(0,0,0,.5);
}
.main{
    background-image: linear-gradient(to right, #4188f2, #00aaff, #00c6fc, #00dee5, #41f2c9);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-2{
    background: #141E36;
    margin: 0;
    padding: 10px;
    height: 56vh;
    width: 100% ;
}
.brand{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    margin-left: 300px;
}
.brand-info{
    color: white;
    text-align: left;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    margin-left: 280px;
}
.brand-pic{
    position: absolute;
    top: 12%;
    left: 65%;
    transition: 0.3s;
}
.brand-pic:hover{
    transform: rotate(45deg);
}
.btn{
    padding: 12px 17px;
    border: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-left: 300px;
    background: #486DA2;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover{
    background-color: #333;
}
.title{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 18px;
}
.brands{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}
.sss{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.3s;
    cursor: pointer;
}
.sss:hover{
    transform: scale(1.1);
}

/* main design end */

/*ABOUT US start*/
#aboutus{
    display: flex;
    flex-wrap: wrap;
    
}
.about{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 650px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid red;
    width: fit-content;
    
}
.img-2,.des{
    padding: 20px;
}
.img-2 img{
    border-radius: 5px;
    height: 250px;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 50%;
}
.des{
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 20px 40px;
}
.btn-2{
    padding: 10px 18px;
    border: none;
    background-color: #f23f54;
    color: #fff; 
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    transition: 0.2s;
}
.btn-2:hover{
    background-color: #545252;
}
.test{
    display: flex;
   align-items: center;
}


/*ABOUT US end*/

/* QOUTES */
#quotes{
    background: #e8e4e3;
    height: 42vh;
    margin-top: 140px;
}
.quotemain{
    font-family: sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    padding-top: 140px;
}
.author{
    text-align: right;
    font-size: 19px;
    font-family: sans-serif;
    font-style: italic;
    margin-right: 160px;
    margin-top: 10px;
    letter-spacing: 1px;
}
/* Our products design */
.prod{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 620px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid red;
    width: 210px;
    letter-spacing: 1px;
}
.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 90px;
}
.cardmain{
    border: 2px solid #112857;
    padding: 95px;
    margin-top: 40px;
    margin-left: 40px;
    width: 20px;
    border-radius: 8px;
    flex-direction: column;
}
.pext{
    margin-right: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Contacts*/
#contacts{
    margin-top: 200px;
    padding: 20px;
    background-image: linear-gradient(to right top, #3186a8, #388dc2, #5791da, #8391eb, #b48df2);
    height: 49vh;
    padding: 40px 150px;

}
.conmain{
    background-image: linear-gradient(to right top, #3186a8, #3493ba, #37a1cb, #39afde, #3cbdf0);
    height: 26vh;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: 50px;
    padding: 0 100px;
}
.conty{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.btn-3{
    text-transform: uppercase;
    border: none;
    margin-left: 300px;
    padding: 12px 18px; 
    background: none;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.2s;
}
.btn-3:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #333;
}
/* footer */
#end{
    background: #b79ede;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-top: 150px;
    padding: 14px 0;
    height: 50px;
}